body {
	font-family: "gotham-web", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.3;
	padding-top: 54px;
}

li {
	list-style: none;
}

*:before, *:after {
	box-sizing: border-box;
}

h1 {
  font-weight: 400;
  color: #2D2C82;
font-size: 48px;
letter-spacing: 0px;
line-height: 1.2em;
font-weight: 600;
font-style: normal;
font-size: 46px;
letter-spacing: -1.03px;
text-transform: none;
line-height: .8em;

}

.localeimg {
	width: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item-asset {
  margin: auto;
}

.flex-item-asset img {
	width: 40vh;
	height: auto;
}

.bulletpoints {
  padding-left: 25px;
}

.bulletpoints li{
   list-style-type: circle !important;
}

#person-profile {
  width: 250px;
  border-radius: 50%;
}

.listingContainer {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
}

.block-content {
  display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
}

.block-content p {
  margin-top: 10px;
  line-height: 2rem;
}

#brand-image {
  width: 150px;
  height: auto;
}

#about {
  padding-top: 70px;
}

.jumbotron {
	background-color: #ffffff;
}

.jumbotron h1 {
	padding-bottom: 15px;
}

.lead {
	font-size: 1.1rem !important;
}

.lead-buttons {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.btn-primary {
	background-color: #2D2C82;;
	border-color: #2D2C82;;
}

.btn-primary:hover {
  background-color: #67676B;
}

.btn-info:hover {
  background-color: #67676B;
}

.jumbotron button {
	border-radius: 0;
}

button:nth-child(2) {
	padding: 0 35px;
}

body>div.container>header>div>div:nth-child(1)>ul>li {
	list-style: none;
}

iframe {
	height: 300px !important;
}

footer p {
	padding-left: 15px;
}

.carousel {
	display: none;
}

.display-3 {
	font-size: 1.5rem;
}

footer {
	width: 100%;
}

.footerinfo {
	display: flex;
	justify-content: space-evenly;
}

.card {
	height: 100%;
}

.carousel-slide {
  display: block;
}

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.gallery-container h1 {
	text-align: center;
	margin-top: 70px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	color: #58595a;
}

.gallery-container p.page-description {
	text-align: center;
	margin: 30px auto;
	font-size: 18px;
	color: #85878c;
}

.empty_space {
	padding-top: 54px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

/*Locale*/
#locale-grid { overflow: auto; white-space: normal; }
#locale-grid .profile { padding-bottom: 40px; }
#locale-grid .panel { padding: 0 }
#locale-grid .panel-body { padding: 15px }
#locale-grid .profile-name { font-weight: bold; }
#locale-grid .thumbnail {margin-bottom:6px;}
#locale-grid .panel-thumbnail { overflow: hidden; }
#locale-grid .img-rounded { border-radius: 4px 4px 0 0;}

.listingAttributes {
    width: 33%;
    float: right;
    table-layout: fixed;
    font-size: 14px;
}

@media (min-width: 992px) {
	body {
		padding-top: 54px;
	}
	nav {
		padding-top: 30px;
		background-color: white;
		font-family: 'Istok Web', sans-serif;
	}

  .carousel {
  	display: block;
  }

	.nav-item {
		margin: 0 0 0 36px;
		line-height: 1.6rem;
	}
	.navbar li a:hover {
		border-bottom: 4px solid #2d2c82;
		color: #443525;
		cursor: pointer;
	}

  .navbar li {

  }
	.nav-item a {
		color: black;
		text-transform: uppercase;
	}
	#findlocation {
		margin: 0 70px;
	}
	.btn-info {
		margin-right: 100px;
		color: #fff;
		background-color: #2D2C82;
		border-color: #17a2b8;
	}

	.lokalerimg {
		height: 150px;
		width: auto;

	}

	.listingAd {
	padding: 15px 0;
	border-bottom: 1px solid gray;
	}

	.listingContainer {
		padding: 12px 0;
		background-color: #fff;
	}

	.listingPhoto, .listingDescription, .listingLabels, .listingStats {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 1rem;
    float: none;
    display: inline-block;
    vertical-align: middle;
    float: left;
		width: 33%;
}

.listingPhoto {
    width: 20%;
    padding: 0;
    max-height: 126px;
    overflow: hidden;
    float: left;

}



/*THUMBNAIL CAROUSEL IMAGE SLIDER */
